<div class="main-container">
    <div class="common-calculators-container">
        <div class="description-container">
            <h1>The most common calculators for this class.</h1>
        </div>
        <div class="links-container">
            <ul>
                <li>
                    <a [routerLink]="['/', 'calculators', 'convert-hex-to-binary']">Convert Hexadecimal to Binary</a>
                </li>
                <li>
                    <a [routerLink]="['/', 'calculators', 'convert-binary-to-hex']">Convert Binary to Hexadecimal</a>
                </li>
                <li>
                    <a [routerLink]="['/', 'calculators', 'convert-octal-to-binary']">Convert Octal to Binary</a>
                </li>
                <li>
                    <a [routerLink]="['/', 'calculators', 'convert-binary-to-octal']">Convert Binary to Octal</a>
                </li>
                <li>
                    <a [routerLink]="['/', 'calculators', 'convert-decimal-to-binary']">Convert Decimal to Binary</a>
                </li>
                <li>
                    <a [routerLink]="['/', 'calculators', 'convert-binary-to-decimal']">Convert Binary to Decimal</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="other-calculators-container">
        <div class="description-container">
            <h5>For other calculators, please visit <a href="https://codebeautify.org/all-number-converter">this website</a>.</h5>
        </div>
    </div>
</div>