<div class="main-container">
    <div class="description-container">
        <h2>This section contains notes that will be useful and might help the students.</h2>
    </div>
    <div class="notes-container">
        <div class="notes-container notes1-container">
            <ul>
                <li>
                    <a target="_blank" href="../../../../assets/notes/Notes 1.pdf"><i class="fa fas fa-file"></i> Notes 1</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="add-notes-container">
        <p>** If you think you have notes that might help the class, please feel free to contact me to add them on the website.</p>
    </div>
</div>