<div class="container main-container">
    <div class="calculator-info">
        <div class="calculator-title-container">
            <h1>Convert Binary to Octal</h1>
        </div>
        <div class="calculator-description-container">
            <h5>This calculator take the Binary number you want to convert to Octal and send it to a calculator and then it will redirect you to the calculator website with the answer ready.</h5>
        </div>
    </div>
    <div class="calculator" [formGroup]="form">
        <input (keyup.enter)="convertToOctal()" formControlName="binary_number" placeholder="Enter a Binary">
    </div>
    <div class="other-calculators-container">
        <h3>Other Calculators</h3>
        <a [routerLink]="['/', 'calculators', 'convert-octal-to-binary']">Convert Octal to Binary</a>
    </div>
</div>