<div class="container main-container">
    <div class="calculator-info">
        <div class="calculator-title-container">
            <h1>Convert Octal to Binary</h1>
        </div>
        <div class="calculator-description-container">
            <h5>This calculator take the Octal number you want to convert to Binary and send it to a calculator and then it will redirect you to the calculator website with the answer ready.</h5>
        </div>
    </div>
    <div class="calculator" [formGroup]="form">
        <input (keyup.enter)="convertToBinary()" formControlName="octal_number" placeholder="Enter an Octal">
    </div>
    <div class="other-calculators-container">
        <h3>Other Calculators</h3>
        <a [routerLink]="['/', 'calculators', 'convert-binary-to-octal']">Convert Binary to Octal</a>
    </div>
</div>