#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    .main-container{
        p{
            cursor: pointer;
        }
    }
}