<div class="main-container">
    <div class="banner-container">
        <div class="title-container">
            <h2>Welcome to EENG 2710!</h2>
        </div>
        <div class="slogan-container">
            <p>Together we will hopefully pass the class. 🙏🏻</p>
        </div>
        <!-- <i class="fa fas fa-angle-double-down"></i> -->
    </div>
    <div class="website-goal-container">
        <div class="website-goal-title-container">
            <h2>The Goal of This Website</h2>
        </div>
        <div class="website-goal-description-container">
            <p>
                This website is a tool to help everyone in the class do their best and achieve a good grade. There will be material published on the website already. 
                But if you found that you have good notes that you want to share with the class, please contact me and we will add them to the website, so everyone would benefit.
                Also, if you think there is a confusing topic that you belive you understand it very well and want to explain to the class in a written form,
                please get in touch with me and we will manage to put on the website to everyone.
            </p>
        </div>
    </div>
    <div class="calculators-container">
        <div class="calculators-description">
            This website have embedded several calculators to perform different jobs.
            <br>
            Feel Free to check out the Calculators section to know more.
        </div>
        <div class="calculators-btn-container">
            <button [routerLink]="['/', 'calculators']" class="btn btn-primary">Calculators</button>
        </div>
    </div>
    <div class="documents-container">
        <div class="documents-description">
            This website contain important graphes and documents that might help in the class, including tables and formula sheets.
            <br>
            Feel Free to check out the Documents section to know more.
        </div>
        <div class="documents-btn-container">
            <button [routerLink]="['/', 'documents']" class="btn btn-primary">Documents</button>
        </div>
    </div>
    <div class="notes-container">
        <div class="notes-description">
            This website contain notes, sheets, and other helpful material that might be useful and help with understanding some concepts.
            <br>
            Feel Free to check out the Notes section to know more.
        </div>
        <div class="notes-btn-container">
            <button [routerLink]="['/', 'notes']" class="btn btn-primary">Notes</button>
        </div>
    </div>
</div>