<div class="main-container">
    <div class="description-container">
        <h2>This section contains documents that will be useful and might help the students.</h2>
    </div>
    <div class="documents-container">
        <div class="document-container document1-container">
            <ul>
                <li>
                    <a target="_blank" href="../../../../assets/documents/theorems-sheet.pdf"><i class="fa fas fa-file"></i> Theorems Sheet</a>
                </li>
                <li>
                    <a target="_blank" href="../../../../assets/documents/full_ASCII_table.pdf"><i class="fa fas fa-file"></i> ASCII Table Sheet</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="add-documents-container">
        <p>** If you think you have documents that might help the class, please feel free to contact me to add them on the website.</p>
    </div>
</div>